// tool card css
.tool-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  color : $primaryGray;


  img {
    border-radius: 0.5rem;
    margin-top: 0.7rem;
    background-size: cover;
    height: 8rem;
    width: auto;
    margin-bottom: 1rem;
  }

  p {

    text-align: center;
    width: 95%;
    margin-bottom: 1rem;
  }

   
  a {
    padding : 1rem;
    background-color: black;
    border-radius: 1rem;
    color : $primaryWhite;

    &:hover {
      font-weight: bold;
    }
  }
}
// catalouge page css

.catalog-page {
  background-color: $primaryWhite;
  min-height: 100vh;
}

.catalogue {
  padding-block: 2rem;
  background-color: $primaryWhite;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap:2rem;
  padding-inline: 2rem;
}

.catalogue-header {
  font-size: 2.5rem;
  margin-block: 3rem;
  text-align: center;
  color : black;
}
