// tool card css
.tool-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  color: $primaryGray;

  img {
    border-radius: 0.5rem;
    margin-top: 0.7rem;
    background-size: cover;
    height: 8rem;
    width: auto;
    margin-bottom: 1rem;
  }

  .tool-tag {
    margin-left: auto;
    font-size: 0.9rem;
    padding: 0.4rem;
    border-radius:0.5rem;
    background-color: green;
    color : white;
  }

  .description {
    text-align: center;
    width: 95%;
    margin-bottom: 1rem;
  }

  a {
    padding: 1rem;
    background-color: black;
    border-radius: 1rem;
    color: $primaryWhite;

    &:hover {
      font-weight: bold;
    }
  }
}
// catalouge page css

.catalog-page {
  background-color: black;
  min-height: 100vh;
}

.catalogue {
  padding-block: 2rem;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
  padding-inline: 2rem;

  @media only screen and (max-width: 70rem) {
    & {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media only screen and (max-width: 40rem) {
    & {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}

.catalogue-header {
  font-size: 2.5rem;
  margin-block: 9rem;
  text-align: center;
  color: white;

  @media only screen and (max-width: 70rem) {
    & {
      font-size: 1.8rem;
    }
  }
}
