footer {
  background-color: $primaryWhite;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 8rem;

  @media only screen and (max-width: 40rem) {
    flex-direction: column;
    gap: 3rem;
  }
}

.footer-header {
  font-weight: bold;
  font-size: 2.5rem;
  color: black;
}

.footer-info {
  display: flex;
  align-items: center;
  ul {
    border-right: 1px $primaryGray solid;
    li {
      margin-block: 1rem;
      margin-right: 1rem;

      a {
        color: black;


        &:hover {
          font-weight: bold;
        }
      }
    }
  }

  p {
    margin-left: 1rem;
  }

 img {
  margin-left: 0.5rem;
 }
}
