.intro-text {
  font-size: 3.5rem;
  background-color: black;
  color: white;
  padding-top: 10rem;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 40rem) {
    font-size: 2.1rem;
  }
}

.main-catagory-finder-section {
  padding-block: 10rem;
  padding-inline: 5rem;
  gap: 1rem;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));

  button {
    height: 4rem;
    color: black;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.1rem;

    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }

  @media only screen and (max-width: 70rem) {
    & {
      padding-inline: 3rem;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media only screen and (max-width: 40rem) {
    & {
      padding-inline: 1.5rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
.index-website-catagory-website {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: $primaryWhite;
  flex-direction: column;

  a {
    font-weight: bold;
    font-size: 4rem;
    color: $primaryGray;

    @media only screen and (max-width: 40rem) {
      font-size: 2.5rem;
    }

    &:hover {
      text-decoration: overline;
    }
  }

  p {
    padding-inline: 0.5rem;
    text-align: center;
  }
}

.index-website-catagory-about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: black;
  flex-direction: column;

  a {
    font-weight: bold;
    font-size: 4rem;
    color: white;

    @media only screen and (max-width: 40rem) {
      font-size: 2.5rem;
    }

    &:hover {
      text-decoration: overline;
    }
  }

  p {
    padding-inline: 0.5rem;
    color: white;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .searchbar {
    width: 85%;
  }

  .example-showcase-section {
    padding-block: 5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 5rem;
  }
}
