.index-page {
  background-color: black;
}

.intro-text {
  font-size: 4rem;
  background-color: black;
  color: white;
  padding-top: 8rem;
  margin-inline: auto;
  width: fit-content;
  font-weight: bold;
  background: linear-gradient(to right, #38B6FF, #B418B4);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media only screen and (max-width: 40rem) {
    font-size: 2.1rem;
  }
}

.intro-text-description {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  color : white;
  font-weight: bold;

  @media only screen and (max-width: 40rem) {
    padding-inline: 3rem;
    text-align: center;
  }
}

.main-catagory-finder-section {
  padding-block: 10rem;
  padding-inline: 5rem;
  gap: 1rem;
  background-color: black;
  // display: grid;
  // grid-template-columns: repeat(5, minmax(0, 1fr));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
    padding-inline: 5rem;
    height: 4rem;
    color: black;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.1rem;
    transition: background-color 0.1s ease; 

    &:hover {
      background-color: black;
      color : white;
      cursor: pointer;
    }
  }

  @media only screen and (max-width: 70rem) {
    & {
      button {
        padding-inline: 4rem;
      }
    }
  }

  @media only screen and (max-width: 40rem) {
    & {
      padding-block: 5rem;
      button {
        font-size: 1rem;
        padding-inline: 0;
      }
      display: grid;
      padding-inline: 1.5rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
.index-website-catagory-website {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: $primaryWhite;
  flex-direction: column;

  a {
    font-weight: bold;
    font-size: 4rem;
    color: black;

    @media only screen and (max-width: 40rem) {
      font-size: 2.5rem;
    }

    &:hover {
      text-decoration: overline;
    }
  }

  p {
    padding-inline: 0.5rem;
    text-align: center;
  }
}

.index-website-catagory-about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: black;
  flex-direction: column;

  a {
    font-weight: bold;
    font-size: 4rem;
    color: white;

    @media only screen and (max-width: 40rem) {
      font-size: 2.5rem;
    }

    &:hover {
      text-decoration: overline;
    }
  }

  p {
    padding-inline: 0.5rem;
    color: white;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .searchbar {
    width: 85%;
  }

  .example-showcase-section {
    padding-block: 5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 5rem;
  }
}
