nav {
  display: flex;
  background-color: $primaryWhite;
  align-items: center;
  padding: 1.5rem;

  header {
    display: flex;
    align-items: center;

    svg {
      width: 3rem;
      height: 3rem;
    }
    a {
      margin-left: 1rem;
      font-weight: bold;
      color: $primaryGray;
      font-size: 1.7rem;
    }
  }

  .list-items {
    
    margin-left: auto;
    display: flex;
    align-items: center;

    .website-items {
      margin-right: 2rem;
      display: flex;
      align-items: center;

      li {
        padding-inline: 0.6rem;

        a {
          color : black;

          &:hover {
            font-weight: bold;
          }
        }
      }
    }

    .social-items {
      padding-left: 2rem;
      border-left: black solid 2px;
      display: flex;
      align-items: center;

      li {
        padding: 0.5rem;

        a {
          color : black;

          &:hover {
            color : darkgray;
          }
        }
      }
    }

  }

}

.dropdown {
  margin-left: auto;
  display: none;
  position: relative;

  .dropdown-toggle {
    background: none;
    border: none;
    color: #333;
    border: none;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;

    border: 1px solid #ddd;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.2s ease, visibility 0s linear 0.2s,
      transform 0.2s ease;

    a {
      color: #333;
      padding: 10px 20px;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: #f1f1f1;
        font-weight: bold;
      }
    }
  }

  &:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.2s ease, visibility 0s linear 0s, transform 0.2s ease;
  }
}

@media (max-width: 1024px) {
  nav {
    .list-items {
      display: none;
    }

    .dropdown {
      display: inline-block;
    }
  }
}