nav {
  display: flex;
  background-color: $primaryWhite;
  align-items: center;
  padding: 1.5rem;

  header {
    margin-left: 2rem;
    display: flex;
    align-items: center;

    svg {
      margin-right: 1rem;
      width: 3rem;
      height: 3rem;
    }
    a {
      font-weight: bold;
      color : $primaryGray;
      font-size: 1.7rem;
    }
  }
  
  ul {
    margin-right: 2rem;
    align-items: center;
    margin-left: auto;
    display: flex;
    li {
      padding-inline: 1rem;
      a {
        color : $primaryGray;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}